Django>=1.8,<=1.9
psycopg2
django-filter==0.13.0
djangorestframework-gis==0.10.1
djangorestframework==3.3.3
celery[librabbitmq]==3.1.23
python-social-auth==0.2.19
lxml
GDAL
python-magic
subprocess32
requests>=2.5.1
django_extensions
python-openid
kombu<4
